@import "../../../styles/variables";

.desktop-header {
  display: flex;
  color: var(--text);
  justify-content: space-between;
  &__filters {
    display: flex;
    justify-content: flex-end;
  }
  &__filter {
    margin-left: 3rem;
  }
}

@media #{$tablet} {
  .desktop-header {
    flex-direction: column-reverse;
    &__filters {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 50px;
      grid-column-gap: 2rem;
    }
    &__filter {
      margin-left: 0;
    }
    &__search {
      margin-top: 2rem;
    }
  }
}
