@import "../../../styles/variables";

.category-list-container {
  display: flex;
  align-items: center;
  &__eye-icon {
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
  }
  &__drowdown-btn {
    min-width: 13rem;
    min-height: 3.5rem;
    color: var(--white);
    text-transform: capitalize;
    font-weight: bold;
    background: var(--secondary);
    position: relative;
    padding-left: 1rem;
    display: flex;
    border-radius: 0.4rem;
    align-items: center;
    cursor: pointer;
  }
  &__drowdown {
    position: absolute;
    top: 3.5rem;
    left: 0;
    min-width: 13rem;
    margin: 0;
    padding: 0;
    list-style-type: none;
    transform-origin: top;
    transition: transform 0.4s ease-in-out;
    overflow: hidden;
    background: var(--primary);
    z-index: 1;
    border-radius: 0 0.4rem;
  }
  &__option {
    padding: 1rem;
    background: var(--primary);
    color: var(--white);
    font-weight: bold;
    opacity: 0.6;
    cursor: pointer;
    transition: opacity 0.2s ease-in;
    border-top: 1px solid #232323;
    &:hover {
      opacity: 1;
    }
  }
  &__icon {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease-in;
    &--open {
      transform: rotateX(180deg);
    }
  }
}

.slide-enter,
.slide-leave-to {
  transform: scaleY(0);
}

@media #{$tablet} {
  .category-list-container {
    &__drowdown-btn {
      width: 100%;
    }
  }
}
