.voice-item {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    cursor: pointer;
    &:hover {
      .voice-item__heart {
        opacity: 1;
      }
    }
  }
  &__icon {
    background: var(--white);
    border-radius: 50%;
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.5s ease-in;
    img {
      width: auto;
    }
    &.selected {
      background: linear-gradient(#00eeff, #00bbff);
    }
  }
  &__label {
    text-align: center;
    padding: 1rem;
    font-weight: bold;
    color: var(--white);
  }
  &__heart {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.2s ease;
    &__icon-container {
      background: var(--white);
      border-radius: 50%;
      width: 3rem;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
