@import "../../styles//variables";

.voice-item {
  &.selected {
    .voice-item__icon {
      background: linear-gradient(#00eeff, #00bbff);
    }
    .voice-item__label {
      color: var(--text-selected);
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    cursor: pointer;
  }
  &__icon {
    background: var(--white);
    border-radius: 50%;
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: background 0.5s ease-in;
    transition: opacity 0.2s ease-in;
    opacity: 0.8;
    img {
      width: auto;
    }
    &:hover {
      opacity: 1;
      .voice-item__heart {
        opacity: 1;
      }
    }
  }
  &__label {
    text-align: center;
    padding: 1rem;
    font-weight: bold;
    color: var(--white);
    opacity: 0.8;
  }
  &__heart {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.4s ease;
    &__icon-container {
      background: var(--white);
      border-radius: 50%;
      width: 3rem;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media #{$tablet-landscape} {
  .voice-item {
    &__icon {
      opacity: 1;
    }
    &__heart {
      opacity: 1;
    }
  }
}
