@import "../../styles/variables";

#main-layout {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background: var(--primary);
  .layout-container {
    min-width: var(--min-width-layout);
    max-width: var(--max-width-layout);
    &__header {
      padding: 2rem 0;
      display: flex;
      justify-content: center;
      background: var(--primary);
      position: sticky;
      top: 0;
      z-index: 100;
    }
    &__content {
      min-height: calc(100vh - var(--content-min-height-desktop));
    }
    &__footer {
      min-height: var(--footer-min-height-desktop);
      display: flex;
      align-items: center;
      width: 100%;
    }
  }
}

@media #{$tablet-landscape} {
  #main-layout {
    .layout-container {
      min-width: 100%;
      max-width: 100%;
      padding: 0 2rem;
    }
  }
}

@media #{$mobile} {
  #main-layout {
    .layout-container {
      padding: 0 1rem;
      &__header {
        background: transparent;
        padding: 0;
        min-height: var(--header-min-height-mobile);
      }
      &__content {
        min-height: calc(100vh - var(--content-min-height-mobile));
      }
      &__footer {
        color: white;
        min-height: var(--footer-min-height-mobile);
      }
    }
  }
}
