@import "../../styles/variables";

#main-layout {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background: var(--primary);
  .layout-container {
    min-width: var(--min-width-layout);
    max-width: var(--max-width-layout);
    &--has-fixed-header {
      .layout-container__content {
        animation: smoothScroll2 1s both;
      }
    }
    &__header {
      padding: 2rem 0 4rem 0;
      min-height: var(--header-min-height-desktop);
      display: flex;
      justify-content: center;
      background: var(--primary);
      transition: all 0.5s ease;
      &--fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        min-height: auto;
        padding: 1rem 0;
        animation: smoothScroll 1s both;
      }
    }
    &__content {
      min-height: calc(100vh - var(--content-min-height-desktop));
    }
    &__footer {
      min-height: var(--footer-min-height-desktop);
      display: flex;
      align-items: center;
      width: 100%;
    }
  }
}

@keyframes smoothScroll {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes smoothScroll2 {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(40px);
  }
}

@media #{$tablet-landscape} {
  #main-layout {
    .layout-container {
      min-width: 100%;
      max-width: 100%;
      padding: 0 2rem;
    }
  }
}

@media #{$mobile} {
  #main-layout {
    .layout-container {
      padding: 0 1rem;
      &__header {
        padding: 0;
        min-height: var(--header-min-height-mobile);
      }
      &__content {
        min-height: calc(100vh - var(--content-min-height-mobile));
      }
      &__footer {
        color: white;
        min-height: var(--footer-min-height-mobile);
      }
    }
  }
}
