#main-layout {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background: var(--primary);
  .layout-container {
    min-width: var(--max-width-layout);
    &__header {
      height: var(--header-height);
      max-width: var(--max-width-layout);
    }
    &__content {
      max-width: var(--max-width-layout);
    }
    &__footer {
      height: var(--footer-height);
    }
  }
}
