:root {
  --primary: #1b1b1b;
  --secondary: #000000;
  --tertiary: #858585;
  --text: #d2d2d2;
  --white: #fff;
  --line-separator: #2c2c2c;
  --text-selected: #00d9ff;

  --max-width-layout: 1024px;
  --min-width-layout: 1024px;
  --header-min-height-desktop: 10rem;
  --header-min-height-mobile: 4rem;
  --footer-min-height-desktop: 4rem;
  --footer-min-height-mobile: 2rem;
  --content-min-height-desktop: calc(
    var(--header-min-height-desktop) + var(--footer-min-height-desktop)
  );
  --content-min-height-mobile: calc(
    var(--header-min-height-mobile) + var(--footer-min-height-mobile)
  );
}

/* Responsive */
$mobile-small: "only screen and (max-width: 480px)";
$mobile: "only screen and (max-width: 630px)";
$tablet: "only screen and (max-width: 768px)";
$tablet-landscape: "only screen and (max-width: 1024px)";
$desktop-regular: "only screen and (max-width: 1440px)";
$desktop-big: "only screen and (min-width: 1200px)";
$ie: "all and (-ms-high-contrast: none), (-ms-high-contrast: active)";
