$mountain-meadow: #1eb98a;
$green-yellow: #bcf236;
$concrete: #f2f2f2;
$dove-gray: #616161;
$boulder: #777;
$emperor: #515151;
$nobel: #b7b7b7;
$alabaster: #fcfcfc;
$white: #fff;
$silver: #ccc;
$tom-thumb: #2a492f;
$red: #c6868a;
$header: 80px;
$footer: 30px;

/* Responsive */
$mobile: "only screen and (max-width: 480px)";
$tablet: "only screen and (max-width: 768px)";
$tablet-landscape: "only screen and (max-width: 1024px)";
$desktop-regular: "only screen and (max-width: 1440px)";
$desktop-big: "only screen and (min-width: 1200px)";
$ie: "all and (-ms-high-contrast: none), (-ms-high-contrast: active)";
