:root {
  --primary: #1b1b1b;
  --secondary: #000000;
  --tertiary: #858585;
  --text: #d2d2d2;
  --white: #fff;
  --line-separator: #2c2c2c;

  --max-width-layout: 1024px;
  --header-height: 50px;
  --footer-height: 50px;

  /* Responsive */
  --mobile: "only screen and (max-width: 480px)";
  --tablet: "only screen and (max-width: 768px)";
  --tablet-landscape: "only screen and (max-width: 1024px)";
  --desktop-regular: "only screen and (max-width: 1440px)";
  --desktop-big: "only screen and (min-width: 1200px)";
  --ie: "all and (-ms-high-contrast: none), (-ms-high-contrast: active)";
}
