@import "../../styles/variables";

.voices-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: space-between;
}

.section-title {
  display: flex;
  margin-bottom: 2.5rem;
  &__title {
    color: var(--tertiary);
    font-weight: bold;
    font-size: 1.8rem;
    display: inline;
  }
  &__separator {
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    & .line {
      height: 1px;
      background: var(--line-separator);
      flex: 1;
    }
  }
}

.no-voices {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20rem;
  &__text {
    color: var(--white);
    font-size: 2rem;
    text-align: center;
  }
}

@media #{$tablet-landscape} {
  .voices-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media #{$tablet} {
  .voices-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media #{$mobile} {
  .voices-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
