@import "../../styles/variables";

.no-voices {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20rem;
  &__text {
    color: var(--white);
    font-size: 2rem;
    text-align: center;
  }
}
