@import "../../../styles/variables";

.header {
  min-width: var(--min-width-layout);
}
.mobile-header {
  display: none;
}

@media #{$mobile} {
  .desktop-header {
    display: none;
  }

  .mobile-header {
    display: block;
  }
}
