@import "../../../styles/variables";

.header {
  width: 100%;
}
.mobile-header {
  display: none;
}

@media #{$mobile} {
  .desktop-header {
    display: none;
  }

  .mobile-header {
    display: block;
  }
}
