@import "../../styles/variables";

.search-container {
  position: relative;
  &__input {
    min-width: 25rem;
    min-height: 3.5rem;
    border-radius: 1.8rem;
    background: url(../../assets/filterIcons/search.svg) var(--secondary) left
      center no-repeat;
    border: none;
    color: var(--white);
    font-weight: bold;
    padding-left: 3.5rem;
  }
  &__clear-icon {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    height: 100%;
    display: flex;
    align-items: center;
    opacity: 0.6;
    transition: opacity 0.3s ease-in;
    &:hover {
      opacity: 1;
    }
  }
}

@media #{$tablet} {
  .search-container {
    &__input {
      width: 100%;
    }
  }
}
