.mobile-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  &__icon {
    width: 3rem;
    img {
      width: 100%;
    }
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--primary);
  z-index: 2;
}
