@import "../../styles//variables";

.selected-voice-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 2rem;
  &:hover {
    .selected-voice-container__favourite,
    .selected-voice-container__remove-selected {
      opacity: 1;
    }
  }
  &__icon {
    img {
      width: 3rem;
    }
  }
  &__name {
    font-weight: bold;
    margin-right: 1rem;
  }
  &__favourite {
    transition: 0.3s linear;
    opacity: 0;
    &--is-in-favs {
      opacity: 1;
    }
    &:hover {
      transform: scale(1.1);
    }
  }
  &__remove-selected {
    margin-left: 1rem;
    cursor: pointer;
    transition: 0.3s linear;
    opacity: 0;
    &:hover {
      transform: scale(1.1) rotate(10deg);
    }
  }
}

@media #{$tablet} {
  .selected-voice-container {
    padding: 0;
  }
}

@media #{$mobile} {
  .selected-voice-container {
    &__name {
      color: var(--white);
      margin-right: 0.5rem;
    }
    &__favourite {
      opacity: 1;
      img {
        width: 1.7rem;
      }
    }
    &__remove-selected {
      opacity: 1;
    }
    &__icon {
      img {
        width: 4rem;
      }
    }
  }
}
